<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/add" method="post">
        <div class="name">
            <label for="name">Name Of Student : </label>
            <input type="text" name="name" id="name">
        </div>
        <div class="room">
            <label for="room">Room No : </label>
            <input type="number" name="roomNo" id="roomNo">
        </div>
        <div class="place">
            <label for="place">Where Are You Go : </label>
            <input type="text" name="place" id="place">
        </div>
        <div class="time_go">
            <label for="time_go">Time Go : </label>
            <input type="text" name="time_go" id="time_go">
        </div>
        <div class="signature_out">
            <label for="signature_out">Signature : </label>
            <input type="text" name="signature_out" id="signature_out">
        </div>
        <div class="time_in">
            <label for="time_in">Time in</label>
            <input type="text" name="time_in">
        </div>
        <div class="signature_in">
            <label for="signature_in">Signature : </label>
            <input type="text" name="signature_in">
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>